<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Search...</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- include('nav.ejs', { isLoggedIn: isLoggedIn }) %>

  <div class="card">
      <div class="card-header">
          <img src="<%= product.image %>" alt="" id="product-img">
      </div>
      <div class="card-content">
          <h3 id="product-name"><%= product.name %></h3>
          <h6 id="product-price"><%= product.price %></h6>
      </div>
  </div>
  
  <div id="item">
      <button>Add to cart</button>
  </div>
  <a id="url" href="<%=product.url%>">
     <button>Buy on Flipkart</button>
  </a>

  <h2>Send Price alert</h2>

  <div class="alert">
        <form id="myForm" method="post">
          <p>
            <label for="email">Enter your email</label>
            <input name="email" type="email" id="email" placeholder="abc@gmail.com" required>
          </p>
          <p>
            <label for="price">Enter your expected price</label>
            <input name="price" type="number" id="price" placeholder="10" required>
          </p>
          <p>
            <label for="interval">Set time interval</label>
            <input name="interval" type="time" id="interval" placeholder="2h" required>
          </p>
          <p>
            <input id="btn" type="submit" value="Send Alert">
          </p>
        </form>
        
  </div> 
  <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
  <script src="/s2.js" defer></script>
  
</body>
</html>